$base-color: #00f !default;
$border-dark: rgba($base-color, 0.88) !default;
$alert-box-size: 600px !default;
$base-color: #c6538c;
$text-color: #fff;
$background-color: #282929;
$header-text: #a1a1a1;
$nav-toggle: #333;
$nav-hover: #b5be87;
$nav2: #6d7a2b;
$footer-background: #2e2e2e;
$footer-text: #c0c0c0;
$lightblue: #2eae9b;
$greybody: #444;
$border-color: #575757;
$thbackground: #f5f5f5;
$thborder: #ccc;
