$base-color: #00f !default;
$border-dark: rgba($base-color, 0.88) !default;
$alert-box-size: 600px !default;
$base-color: #c6538c;
$text-color: #000;
$background-color: #e4fffb;
$container: rgba(255, 255, 255, 0.5);
$container-text-color: #444;
$navlink: #333;
$navhover: #4e00cc;
$navtoggle: #4e00cc;
$footer-color: #75ada344;
$footer-text: #444;
$lightblue: #2eae9b;
$hrbackground: #f5f5f5;
$border: #ccc;
$clrlink: #006391;
